﻿@page
@model AboutModel
@{
    ViewData["Title"] = "เกี่ยวกับเว็ปไซต์";
}


<h2>@ViewData["Title"]</h2>
<h3>รายละเอียด</h3>
<div class="jumbotron" style="background-color : #204051; color : #cae8d5;font-family:FC Lamoon; font-size:7">
	<p>เว็ปไซต์นี้ จัดทำโดยประชาชนเพื่อแสดงข่าวสารต่อประชาชน ผิดพลาดประการใดจ้องขออภัยมา ณ ที่นี้ด้วย </p>
</div>