﻿@page
@model ContactModel
@{
    ViewData["Title"] = "ติดต่อเราได้ที่";
}
<h2>@ViewData["Title"]</h2>
<h3>ช่องทางการติดต่อ</h3>

<div class="jumbotron" style="background-color : #204051; color : #cae8d5; font-size:7">
<address>
    <h3>สำนักงานข่าวแห่งโลก<br /></h3>
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
 2225.222.255
</address>
</div>
<address>
    <strong>อ้างอิงโดย:</strong> <a href="https://www.bbc.com/news"> bbc.com/news</a><br />
    <strong>ตรวจสอบโดย:</strong> <a href="https://edition.cnn.com/">cnn.com</a>
</address>
