﻿@page
@model IndexModel
@{
    ViewData["Title"] = "ระบบรายงานข่าว";
}
<body style="background-color : #84a9ac"> </body>
<script src="https://cdn.jsdelivr.net/gh/openlayers/open
layers.github.io@master/en/v6.2.1/build/ol.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		 integrity="sha512-
xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
 integrity="sha512-
 gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQt
XPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		crossorigin=""></script>


	<div class="jumbotron" style="background-color : #204051; color : #cae8d5;font-family:FC Lamoon; font-size:7">
		<center><h2>ระบบรายงานข่าวโดยประชาชนเพื่อประชาชน</h2></center>
	</div>
<br>
<br>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="~/images/m.jpg" alt="โจรปล้นร้านทอง"  style=" width : 100% ;">
    </div>

    <div class="item">
      <img src="~/images/n.jpeg" alt="Covid-19"style=" width : 100%;">
    </div>

    <div class="item">
      <img src="~/images/02.jpg" alt="โบดี้หมาน้อย" width : 200%;">
    </div>

    <div class="item">
      <img src="~/images/03.jpg" alt="เครื่องกำจัดยุง" width : 100%;">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br>
<br>
<br>
<br>
<div class="row">
<div id="mapid" style="height: 400px;"></div>
<script>
	var mymap = L.map('mapid').setView([6.99, 100.48], 5);
 
	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
 }).addTo(mymap);
@foreach(var item in Model.News){
	<text>
		 L.marker([@item.GpsLat, @item.GpsLng]).addTo(mymap).bindPopup
		 ("@item.NewsDetail<br>Status - @item.NewsStatus");
	</text>
 }
</script>
</div>
<br>
<br>
@foreach (var item in Model.NewsCategory)
{
	<div class="row" style="background-color : white" >
		<h3>@Html.DisplayFor(model=>item.ShortName)</h3>
		<h4>@Html.DisplayFor(model=>item.FullName)</h4>
	</div>

	<div class="row" style="background-color : black ; color : white">
		<table class="table">
			<thead>
				<tr>
					<th>วันที่เกิดเหตุ</th><th>เนื้อข่าว</th>
					<th>สถานะการยืนยัน</th>
				<tr>
			</thead>
		<tbody>
@foreach (var newsItem in Model.News)
	{	if(newsItem.NewsCategoryID == item.NewsCategoryID)
		{	<tr>
				<td>
					@Html.DisplayFor(modelItem => newsItem.ReportDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => newsItem.NewsDetail)
				</td>
					<td>
						@Html.DisplayFor(modelItem =>newsItem.NewsStatus)
					</td>
			</tr>
		}
	
	}
	</tbody>
</table>
</div>

}
