﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<body style="background-color:#8B3A3A;"> </body>
 <div class="jumbotron" style="background-color:#CD5555; color:#FFC1C1;">

		<h1>ตารางงานของ วง G-IDLE </h1>
</div>
 
 <div class="container">
 <div class ="jumbotron">
 <div class="row">
	<table class="table">
 <thead>
 <tr>
	<th>วัน/เดือน/ปี</th><th>กิจกรรม</th><th>สถานที่
</th><th>วัน</th>
 </tr>
 </thead>
<tbody>
 @foreach (var item in Model.Idolza) {	
 <tr>
	<td>
	@Html.DisplayFor(modelItem => item.IdelDate)
	</td>
	<td>
	@Html.DisplayFor(modelItem => item.IdelDetail)
	</td>
	<td>
	@Html.DisplayFor(modelItem => item.Idelloca)
	</td>
	<td>
	@Html.DisplayFor(modelItem => item.Idelday)
	</td>

</tr>
}
</tbody>
</table>
</div>






