﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-color:#8B3A3A;"> </body>
<h2 style="color:#FFC1C1;">เว็ปไซต์นี้ staff ที่เป็นสมาชิกสามารถ loginได้เท่านั้น</h2>

<div class="jumbotron" style="background-color:#CD5555; color:#FFC1C1;">

		<h1>♥ G-IDLE Work Scedule ♥ </h1>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/21.jpg" alt="ASP.NET" class="img-responsive" style="border:solid;"/>
        </div>
        <div class="item">
            <img src="~/images/22.png" alt="Visual Studio" class="img-responsive" style="border:solid;"/>       
        </div>
	<div class="item">
            <img src="~/images/23.jpg" alt="Visual Studio" class="img-responsive" style="border:solid;"/>       
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <br>
    <br>
</div>
<div class="container">
<center><h2 style="color:#FFC1C1;">เพลงใหม่ล่าสุด♥</h2></center>
<center>
<iframe width="750" height="550" src="https://www.youtube.com/embed/om3n2ni8luE" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>
</div>

