@using Microsoft.AspNetCore.Identity
@using IdolDisplay.Models
@inject SignInManager<IdolUser> SignInManager
@inject UserManager<IdolUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
		<a href="/About" title="Manage">แสดงตารางงานของวง</a>	
	   </li>
	    <li>
                <a>Hello @UserManager.GetUserName(User)!</a>
            </li>
	
	    <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
   
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}
