@page
@model NewsReport.Pages.NewsCategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบ";
}

<h2>ลบหมวดข่าว</h2>

<h3>ลบจริงๆหรอ?</h3>
<div>
    <h4>ลบข่าว</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            หมวดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.ShortName)
        </dd>
        <dt>
            เนื้อข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="NewsCategory.NewsCategoryID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
