@page
@model NewsReport.Pages.NewsCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดข่าว";
}

<h2>รายละเอียดข่าว</h2>

<div>
    <h4>แสดงรายระเอียดข่าว</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           หมวดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.ShortName)
        </dd>
        <dt>
            เนื้อข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewsCategory.NewsCategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
