@page
@model NewsReport.Pages.NewsCategoryAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไขหมวดข่าว";
}

<h2>แก้ไขหมวดข่าว</h2>

<h4>แก้ไขหมวดข่าว</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsCategory.NewsCategoryID" />
            <div class="form-group">
                หมวดข่าว
                <input asp-for="NewsCategory.ShortName" class="form-control" />
                <span asp-validation-for="NewsCategory.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                เนื้อข่าว
                <input asp-for="NewsCategory.FullName" class="form-control" />
                <span asp-validation-for="NewsCategory.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
