@page
@model NewsReport.Pages.NewsCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดข่าว";
}
<body style="background-color : #84a9ac"> </body>
<h2>รายละเอียดของหมวดข่าว</h2>

<div>
    <h4>รายละเอียดข่าวมีต่อไปนี้</h4>
    <hr />
    <dl class="dl-horizontal" style="background-color : white; color : black;">
        <dt>
            ชื่อย่อหมวดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.ShortName)
        </dd>
        <dt>
       ชื่อเต็ม/คำอธิบายข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewsCategory.NewsCategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
