@page
@model NewsReport.Pages.NewsCategoryAdmin.IndexModel

@{
    ViewData["Title"] = "จัดการหัวข้อหมวดข่าว";
}
<body style="background-color : #84a9ac"> </body>
<h2>ระบบจัดการหมวดข่าว</h2>

<p>
    <a asp-page="Create">สร้างหัวข้อหมวดข่าวใหม่</a>
</p>
<table class="table"  >
    <thead>
        <tr>
            <th>
		ชื่อย่อหมวดข่าว
            </th>
            <th>
               ชื่อเต็ม/คำอธิบายหมวดข่าว
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NewsCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsCategoryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsCategoryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsCategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
