@page
@model NewsReport.Pages.NewsAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดของข่าว";
}
<body style="background-color : #84a9ac"> </body>
<h2>รายละเอียดข่าวทั้งหมด</h2>

<div>
    <h4>รายละเอียดดังนี้</h4>
    <hr />
    <dl class="dl-horizontal" style="background-color : white; color : black;">
        <dt>
            หมวดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.ShortName)
        </dd>
        <dt>
           วันที่เกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
          รายละเอียดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
        <dt>
            ละติจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
          ลองติจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>
        <dt>
           สถานะการยืนยัน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.News.NewsID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
