@page
@model NewsReport.Pages.NewsAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไข้หมวดข่าว";
}
<body style="background-color : #84a9ac"> </body>
<h2>แก้ไข้หมวดข่าวใหม่</h2>

<h4>กรอกรายละเอียดต่อไปนี้</h4>
<hr />
<div class="row" style="background-color : black; color : #cae8d5;">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="News.NewsID" />
            <div class="form-group">
                เลือกหมวดข่าว
                <select asp-for="News.NewsCategoryID" class="form-control" asp-items="ViewBag.NewsCategoryID"></select>
                <span asp-validation-for="News.NewsCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                วันที่เกิดเหตุ
                <input asp-for="News.ReportDate" class="form-control" />
                <span asp-validation-for="News.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
              รายละเอียดข่าว
                <textarea asp-for="News.NewsDetail" class="form-control" />
                </textarea>
		<span asp-validation-for="News.NewsDetail" class="text-danger"></span>
		
	    </div>
            <div class="form-group">
                ละติจูดจุดเกิดเหตุ
                <input asp-for="News.GpsLat" class="form-control" />
                <span asp-validation-for="News.GpsLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                ลองติจูดจุดเกิดเหตุ
                <input asp-for="News.GpsLng" class="form-control" />
                <span asp-validation-for="News.GpsLng" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถานะข่าว
               <select asp-for="News.NewsStatus" class="form-control" />
			<option value="Unverified">Unverified</option>
			<option value="Verified as Real">Verified as Real</option>
			<option value="Verified as Fake">verified as Fake</option>
		</select>
                <span asp-validation-for="News.NewsStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
