@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<br><br>
<div class="jumbotron" style="background-color:#FF6A6A;">
<h1 style="color:#8B3A3A;">STAFF ONLY</h1>
<div class="row">
<br><br><br>
	<div class="col-md-12" style="border-style:double; background-color:#CD5555;">
            <form method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" style="color:#8B3A3A;">
                    USERNAME
                    <input asp-for="Input.Email" class="form-control" style="border-style:groove; border-width:2px; />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group"style="color:#8B3A3A;">
                    PASSWORD
                    <input asp-for="Input.Password" class="form-control" style="border-style:groove; border-width:2px;/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input asp-for="Input.RememberMe" />
                         จำรหัสผ่าน
                    </div>
		    <br><br>
                </div>
                <div class="form-group">
                    <center><button type="submit" class="btn btn-default" >เข้าสู่ระบบ</button></center>
                </div>
            </form>
      
    </div>
    <br>
	<br>
	<br>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
