@page
@model NewsReport.Pages.NewsAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบหมวดข่าว";
}

<h2>ลบหมวดข่าว</h2>

<h3>ต้องการลบจริงๆหรอ?</h3>
<div>
    <h4>ลบข่าว</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
       หมวดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.ShortName)
        </dd>
        <dt>
      วันที่เกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
            รายละเอียดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
        <dt>
            ละติจูดจุเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
           ลองติจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>
        <dt>
           สถานะข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.postUser)
        </dt>
        <dd>
           @Html.DisplayFor(model => model.News.postUser.FirstName)
			 @Html.DisplayFor(model => model.News.postUser.LastName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="News.NewsID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
