@page
@model NewsReport.Pages.NewsAdmin.IndexModel

@{
    ViewData["Title"] = "เพิ่มข่าวใหม่";
}

<h2>เพิ่มข่าวใหม่</h2>

<p>
    <a asp-page="Create">สร้างเนื้อข่าวใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
				
				หมวดข่าว
            </th>
            <th>
				วันที่เกิดเหตุ
            </th>
            <th>
				รายละเอียดข่าว
            </th>
            <th>
				ละติจูดเกิดเหตุ
            </th>
            <th>
				ลองจิจูดจุดเกิดเหตุ
            </th>
            <th>
				สถานะของข่าว
            </th>
            <th>
				ผู้โพส
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsCat.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.FirstName)
				@Html.DisplayFor(modelItem => item.postUser.LastName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
