@page
@model IdolDisplay.Pages.Admin.DeleteModel

@{
    ViewData["Title"] = "ลบตารางงาน";
}
<body style="background-color:#8B3A3A;"> </body>
<div class="jumbotron" style="background-color:#CD5555; color:white;">
<h2>ลบตารางงาน</h2>


<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
           วัน/เดือน/ปี
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idols.IdelDate)
        </dd>
        <dt>
            กิจกรรม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idols.IdelDetail)
        </dd>
        <dt>
          สถานที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idols.Idelloca)
        </dd>
        <dt>
           วัน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idols.Idelday)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Idols.IdolsID" />
        <input type="submit" value="ลบ" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
