@page
@model IdolDisplay.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Idols</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Idols.IdelDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idols.IdelDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Idols.IdelDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idols.IdelDetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Idols.Idelloca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idols.Idelloca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Idols.Idelday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idols.Idelday)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Idols.IdolsID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
