@page
@model IdolDisplay.Pages.Admin.EditModel

@{
    ViewData["Title"] = "แก้ไขตารางงาน";
}
<body style="background-color:#8B3A3A;"> </body>
<div class="jumbotron" style="background-color:#CD5555; color:white;">
<h2>แก้ไขตารางงาน</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idols.IdolsID" />
            <div class="form-group">
               วัน/เดือน/ปี
                <input asp-for="Idols.IdelDate" class="form-control" />
                <span asp-validation-for="Idols.IdelDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                กิจกรรม
                <input asp-for="Idols.IdelDetail" class="form-control" />
                <span asp-validation-for="Idols.IdelDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถานที่
                <input asp-for="Idols.Idelloca" class="form-control" />
                <span asp-validation-for="Idols.Idelloca" class="text-danger"></span>
            </div>
            <div class="form-group">
                วัน
		 <select asp-for="Idols.Idelday" class="form-control" />
			<option value="จันทร์">จันทร์</option>
			<option value="อังคาร">อังคาร</option>
			<option value="พุธ">พุธ</option>
			<option value="พฤหัสบดี">พฤหัสบดี</option>
			<option value="ศุกร์">ศุกร์</option>
			<option value="เสาร์">เสาร์</option>
			<option value="อาทิตย์">อาทิตย์</option>
		</select>
                <span asp-validation-for="Idols.Idelday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
