@page
@model IdolDisplay.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "เพิ่มกิจกรรม";
}
<body style="background-color:#8B3A3A;"> </body>
<div class="jumbotron" style="background-color:#CD5555; color:white;">
<h2>กิจกรรมทั้งหมด</h2>

<p>
    <a asp-page="Create">เพิ่มกิจกรรม</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                วัน/เดือน/ปี
            </th>
            <th>
                กิจกรรม
            </th>
            <th>
                สถานที่
            </th>
            <th>
             วัน
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Idols) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdelDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdelDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idelloca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idelday)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdolsID">แก้ไข</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdolsID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>